body {
    margin: 0;
    padding: 0;
    /*background: url("https://s3.amazonaws.com/123rf-chrome/images/12564740_xl.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: radial-gradient(transparent, rgb(0, 0, 0)), rgb(63, 63, 63);
    font-family: 'Source Code Pro', monospace;
}

/* objects */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*id for specific elements*/
#name{
    color: rgb(8, 151, 218);
    display: inline-block;
    font-size: 2.5em;
}

.cursor {
    opacity: 1;
    width: 15px;
    display: inline-block;
    margin-left: -2px;
    height: 100%;
    border: 1.5px solid #FF2E88;
    animation: blink 1s infinite linear;
    font-weight: bold;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*  
    . means class 
    # means id
*/