body {
    margin: 0;
    padding: 0;
    /*background: url("https://s3.amazonaws.com/123rf-chrome/images/12564740_xl.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background: radial-gradient(transparent, rgb(88, 88, 88)), rgb(145, 145, 145);
    font-family: sans-serif;
}

/* objects */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*id for specific elements*/
#name{
    color: rgb(57, 184, 243);
}

/*  
    . means class 
    # means id
*/